<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.nearbyshops.android.communitylibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_local_library_black"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BooksByCategory.BookCategoriesTabs"
            android:label="@string/title_activity_books_by_category"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.android.communitylibrary.HomeActivity" />
        </activity>
        <activity
            android:name=".Sample.BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BooksByCategory.BookCategories.AddBookCategory"
            android:label="Add Book Category"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".BooksByCategory.BookCategories.EditBookCategory"
            android:label="Edit Item Category"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".BooksByCategory.Books.AddBook"
            android:label="Add Book"
            android:parentActivityName=".BooksByCategory.BookCategoriesTabs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BooksByCategory.BookCategoriesTabs" />
        </activity>
        <activity
            android:name=".BooksByCategory.Books.EditBook"
            android:label="Edit Book"
            android:parentActivityName=".BooksByCategory.BookCategoriesTabs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BooksByCategory.BookCategoriesTabs" />
        </activity>
        <activity
            android:name=".SelectParent.BookCategoriesParent"
            android:label="Select Parent Category"
            android:parentActivityName=".BooksByCategory.BookCategoriesTabs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BooksByCategory.BookCategoriesTabs" />
        </activity>
        <activity
            android:name=".BookDetails.BookDetail"
            android:label="@string/title_activity_book_detail"
            android:parentActivityName=".BooksByCategory.BookCategoriesTabs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.android.communitylibrary.BooksByCategory.BookCategoriesTabs" />
        </activity>
        <activity
            android:name=".BookReviews.BookReviews"
            android:label="@string/title_activity_book_reviews"
            android:parentActivityName=".BookDetails.BookDetail"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.android.communitylibrary.BookDetails.BookDetail" />
        </activity>

        <activity
            android:name=".FavouriteBooks.FavouriteBooks"
            android:label="Favourite Books"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>


        <activity
            android:name=".AllBooks.BooksActivity"
            android:label="Books All"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>



        <!--Sign Up and Login -->

        <activity
            android:name=".Login.SignUp"
            android:label="Sign Up"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>



        <activity
            android:name=".Login.EditProfile"
            android:label="Edit Profile"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>


        <!-- Content Provider Declaration -->


        <provider
            android:name=".Data.BooksContentProvider"
            android:authorities="org.nearbyshops.communitylibrary"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="BooksContentProvider"
            android:readPermission="org.nearbyshops.communitylibrary.READ"
            android:writePermission="org.nearbyshops.communitylibrary.WRITE"/>


        <!-- Book Meetups Feature -->

        <activity
            android:name=".BookMeetups.BookMeetupsActivity"
            android:label="@string/title_activity_book_reviews"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>


        <activity
            android:name=".BookMeetups.AddBookMeetup"
            android:label="Add Book Category"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>

        <activity
            android:name=".BookMeetups.EditBookMeetup"
            android:label="Edit Item Category"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>



    </application>

</manifest>