<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.nearbyshops.communityLibrary.database"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <application

        android:name="com.nearbyshops.communityLibrary.database.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_local_library_black"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nearbyshops.communityLibrary.database.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nearbyshops.communityLibrary.database.BooksByCategory.BookCategoriesTabs"
            android:label="@string/title_activity_books_by_category"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.HomeActivity" />
        </activity>
        <activity
            android:name="com.nearbyshops.communityLibrary.database.Sample.BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nearbyshops.communityLibrary.database.BooksByCategory.BookCategories.AddBookCategory"
            android:label="Add Book Category"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.HomeActivity" />
        </activity>
        <activity
            android:name="com.nearbyshops.communityLibrary.database.BooksByCategory.BookCategories.EditBookCategory"
            android:label="Edit Item Category"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.HomeActivity" />
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.nearbyshops.communityLibrary.database.BooksByCategory.Books.AddBook"
            android:label="Add Book"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.BooksByCategory.BookCategoriesTabs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.BooksByCategory.BookCategoriesTabs" />
        </activity>
        <activity
            android:name="com.nearbyshops.communityLibrary.database.BooksByCategory.Books.EditBook"
            android:label="Edit Book"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.BooksByCategory.BookCategoriesTabs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.BooksByCategory.BookCategoriesTabs" />
        </activity>
        <activity
            android:name="com.nearbyshops.communityLibrary.database.SelectParent.BookCategoriesParent"
            android:label="Select Parent Category"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.BooksByCategory.BookCategoriesTabs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.BooksByCategory.BookCategoriesTabs" />
        </activity>
        <activity
            android:name="com.nearbyshops.communityLibrary.database.BookDetails.BookDetail"
            android:label="@string/title_activity_book_detail"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.BooksByCategory.BookCategoriesTabs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.BooksByCategory.BookCategoriesTabs" />
        </activity>
        <activity
            android:name="com.nearbyshops.communityLibrary.database.BookReviews.BookReviews"
            android:label="@string/title_activity_book_reviews"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.BookDetails.BookDetail"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.BookDetails.BookDetail" />
        </activity>
        <activity
            android:name="com.nearbyshops.communityLibrary.database.FavouriteBooks.FavouriteBooks"
            android:label="Favourite Books"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.HomeActivity" />
        </activity>
        <activity
            android:name="com.nearbyshops.communityLibrary.database.AllBooks.BooksActivity"
            android:label="Books All"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.HomeActivity" />
        </activity>

        <!-- Sign Up and Login -->

        <activity
            android:name="com.nearbyshops.communityLibrary.database.Login.SignUp"
            android:label="Sign Up"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.HomeActivity" />
        </activity>
        <activity
            android:name="com.nearbyshops.communityLibrary.database.Login.EditProfile"
            android:label="Edit Profile"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.HomeActivity" />
        </activity>

        <!-- Content Provider Declaration -->

        <provider
            android:name="com.nearbyshops.communityLibrary.database.Data.BooksContentProvider"
            android:authorities="org.nearbyshops.communitylibrary"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="BooksContentProvider"
            android:readPermission="org.nearbyshops.communitylibrary.READ"
            android:writePermission="org.nearbyshops.communitylibrary.WRITE" />

        <!-- Book Meetups Feature -->

        <activity
            android:name="com.nearbyshops.communityLibrary.database.BookMeetups.BookMeetupsFragment"
            android:label="@string/title_activity_book_reviews"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.HomeActivity" />
        </activity>


        <activity
            android:name="com.nearbyshops.communityLibrary.database.BookMeetups.AddBookMeetup"
            android:label="Add Book Meetup"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.HomeActivity" />
        </activity>
        <activity
            android:name="com.nearbyshops.communityLibrary.database.BookMeetups.EditBookMeetup"
            android:label="Edit Item Category"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.HomeActivity" />
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCVGFtuD4fMtv1qNg35eMdcDONm3W_tduE" />

        <!--Old Key : AIzaSyCc8M6nUhJoWt2K4xMQNqzci2do46K0o50-->

        <!--Release Key : AIzaSyCVGFtuD4fMtv1qNg35eMdcDONm3W_tduE-->


        <activity
            android:name="com.nearbyshops.communityLibrary.database.BookMeetups.PickLocationActivity"
            android:label="@string/title_activity_pick_location">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.HomeActivity" />
        </activity>

        <!-- Intent Service for fetching address for Lat lon , using Geocoding Service -->
        <service
            android:name="com.nearbyshops.communityLibrary.database.UtilityGeocoding.FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name="com.nearbyshops.communityLibrary.database.BookMeetups.BookMeetupsActivity"
            android:label="@string/title_activity_book_meetups"
            android:parentActivityName="com.nearbyshops.communityLibrary.database.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data android:name="android.app.default_searchable"
                android:value=".BookMeetups.BookMeetupsActivity"/>

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nearbyshops.communityLibrary.database.HomeActivity" />
        </activity>


        <!-- Implementing Search Feature in the application -->
<!--

        <activity android:name=".SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
-->


        <!--Widget Feature -->


        <receiver android:name="com.nearbyshops.communityLibrary.database.Widgets.ExampleAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetproviderinfo" />
        </receiver>


        <service android:name="com.nearbyshops.communityLibrary.database.Widgets.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


    </application>

</manifest>